html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    border: 5px solid gray;
    width: 85%;
    min-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

div {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    padding-right: 20px;

}

main {
    width: 85%;
    min-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f8ff;
}

.discography {
    width: 1100px;
    margin: auto;
    padding: 20px;

}

.album-covers {
    padding-top: 10px;
}

blockquote {
    font-style: italic;
    font-size: large;
    width: 1200px;
    margin: auto;
    padding: 10px;
    border: 2px solid lightgray;
}


footer {
    text-align: center;
    border: 5px solid gray;
    width: 85%;
    min-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

body {
    background-color: #c0fdff;
}