@charset "utf-8";

html {
    background-color: #bb9457;
}

body {
    width: 80%;
    min-width: 780px;
    max-width: 1200px;
    margin: auto;
    background-color: #9a6a3c;
}

header img {
    width: 100%;
}


header .horizontalNavigation ul li {
    float: left;
    width: 20%;
    text-align: center;
    background-color: #705536;
    color: #edc531;
    font-size: 1.5em;
    padding: 7px;
    margin: 0;
}

.horizontalNavigation ul li {
    text-align: center;
    background-color: #705536;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 7px;
    margin: 0;
}

.horizontalNavigation a {
    color: #edc531;
}

header img {
    width: 100%;
    margin: 0;
}

#rightColumn img {
    width: 100%;
}

#leftColumn {
    width: 33%;
    float: left;
    color: bisque;
    padding: 20px 10px 0 10px;
}

#leftColumn p {
    line-height: 25px;
    font-size: 1.2em;
}

#rightColumn {
    width: 67%;
    float: right;
}

#rightColumn ul li {
    float: left;
    width: 25%;
    text-align: center;
}


footer .verticalNavigation {
    width: 22%;
    float: left;
}

footer #contactInfo {
    width: 30%;
    float: left;
}

#contactInfo h1,
address,
p {
    padding-bottom: 15px;
}

footer {
    clear: right;
    background-color: #54390e;
    color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 200;
    padding: 15px 0 15px 15px;
}

footer h1 {
    font-size: large;
    line-height: 30px;
}

address {
    font-style: normal;
}

footer li {
    font-weight: 100;
    font-size: small;
    line-height: 30px;
    font-style: none;
}

footer address,
p {
    font-size: small;
}

footer a {
    color: bisque;
}

footer::after {
    content: "";
    clear: both;
    display: table;
}